* {
  font-size: 18px;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #f2f3ef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

.navigation-sm {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background: #fefefe;
}

.navbar.navbar-expand-lg {
  background: #fefefe;
}

.title {
  position: block;
  font-family: "Lato", sans-serif;
  color: #339900;
  text-align: center;
}

.hamburger,
.start-search,
.exit-menu {
  display: block;
  background: none;
  width: 40px;
  height: 40px;
  color: #3a3a3a;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.hamburger,
.start-search {
  display: block;
  background: none;
  z-index: 2;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
}

.exit-menu {
  border: 0;
  font-size: 3em;
  line-height: 60px;
  z-index: 4;
}

.menu {
  display: block;
  position: absolute;
  background: #fff;
  z-index: 2;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 15px 0 15px 10px;
  border-bottom: #cccccc 1px solid;
  text-align: left;
  color: #3a3a3a;
  font-weight: bold;
}

.menu .donate {
  color: #339900;
}

/* ****************************************** MOBILE */
@media (max-width: 375px) {

  /* ****************************************** NAVIGATION */
  .nav-lg {
    display: none;
  }

  .navigation-sm {
    padding: 15px;
    background-color: #fff;
  }

  .title {
    font-size: 1.6rem;
  }

  .hamburger {
    font-size: 1.4rem;
  }


  .start-search {
    padding: 5px
  }

  .exit-menu {
    font-size: 3em;
  }

  .menu {
    top: 73px;
    width: 80%;
  }

  .menu li {
    padding: 15px 0 15px 40px;
    font-size: 1rem;
  }

  /* ****************************************** HERO */
  .heads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bgimage {
    width: 100%;
    height: 260px;
    background: #2c5095;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2c5095 0%, #4e648e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2c5095 0%, #4e648e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2c5095 0%, #4e648e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c5095', endColorstr='#4e648e', GradientType=0);
    /* IE6-9 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .over-img {
    margin: -220px auto 0 auto;
    width: 85%;
    height: 250px;
  }

  .heads-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ccc;
    width: 85%;
    margin: auto;
  }


  .heads-level,
  .heads-subject {
    font-size: 0.9rem;
    margin: auto;
    text-align: center;
    padding: 5px;
  }



  /* ****************************************** LOWER-INFO */
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 30px auto 50px auto;
  }

  .projects-header {
    padding: 0;
    margin: auto;
    font-size: 1.28rem;
    text-transform: uppercase;
  }

  .projects-found {
    padding: 0;
    margin: auto auto 3px auto;
    font-size: 0.75rem;
  }

  .project-title {
    margin: 10px auto;
    font-size: 0.8rem;
    text-align: center;
  }

  .project-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 10px
  }

  .project-thumbs img {
    width: 30%;
  }

  .thumbs-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .thumb-nav-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #3a3a3a;
    margin: 10px 2.5px
  }

  .thumb-nav-item.active {
    border: none;
    background: #339900;
    width: 10px;
    height: 10px;
    margin: 9.275px 2.5px
  }

  .descript-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 300px;
    margin: 0 auto 40px auto;
  }

  .proj-descript-title {
    font-size: 1.5rem;
    margin: auto;
    text-align: left;
    margin: 20px 50px 30px 50px;
  }

  .descript-sub {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
    margin: auto 50px;
  }

  .proj-descript {
    font-size: 0.7rem;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 320px;
  }

  /* ****************************************** FOOTER */
  footer {
    background: #fefefe;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }

  .footer {
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: #fefefe;
    max-width: 90%;
    min-width: 60%;
    margin: 0 auto
  }

  .foot-brand-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .foot-brand-img {
    width: 32px;
    height: 32px
  }

  .foot-brand {
    color: #339900;
    font-size: 1.25rem;
    margin: 20px 10px;
  }

  .foot-brand-info {
    color: #3a3a3a;
    font-size: 0.8rem;
  }

  .foot-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
  }

  .icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #ffffff;
  }

  .icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
  }

  .icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #fefefe;
    color: #3a3a3a;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .icon.social:hover {
    background: #fefefe;
    color: #339900;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
  }

  .icon.social.fb i {
    left: 13px;
    top: 10px;
  }

  .icon.social.tw i {
    left: 11px;
  }

  .icon.social.in i {
    left: 11px;
  }

  .foot-nav {
    width: 60%;
    margin: 20px 0
  }

  .foot-support {
    width: 60%;
    margin: 20px 10px 20px 0
  }

  ul.pages li a {
    color: #3a3a3a;
    font-size: 0.78rem;
  }

  ul.pages li a:hover {
    color: #339900;
    text-decoration: none;
  }

  .foot-donation {
    width: 100%
  }

  .foot-donate-info {
    color: #3a3a3a;
    font-size: 0.85rem;
    margin: 20px 0px 20px 20px
  }

  footer .foot-donate {
    font-size: 1rem;
    color: #339900;
    text-transform: uppercase;
    width: 90px;
    height: 40px;
    line-height: 1.5rem;
    border: 1px solid;
    padding: 5px;
    margin: auto 20px
  }

  .foot-donate:hover {
    text-decoration: none;
  }
}

/* ****************************************** IPAD */
@media (min-width: 376px) {

  /* ****************************************** NAVIGATION */
  .refine-desktop,
  .nav-lg {
    display: none;
  }

  .refine-mobile,
  .navigation-sm {
    padding: 15px 0;
    background-color: #fff;
  }

  .title {
    font-size: 1.6rem;
  }

  .hamburger {
    font-size: 1.4rem;
  }


  .start-search {
    padding: 5px
  }

  .exit-menu {
    font-size: 3em;
  }

  .menu {
    top: 73px;
    width: 80%;
  }

  .menu li {
    padding: 15px 0 15px 40px;
    font-size: 1rem;
  }

  /* ****************************************** HERO */
  .heads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bgimage {
    width: 100%;
    height: 260px;
    background: #2c5095;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2c5095 0%, #4e648e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2c5095 0%, #4e648e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2c5095 0%, #4e648e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c5095', endColorstr='#4e648e', GradientType=0);
    /* IE6-9 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .over-img {
    margin: -220px auto 0 auto;
    width: 75%;
    height: 350px;
  }

  .heads-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ccc;
    width: 75%;
    margin: auto;
  }


  .heads-level,
  .heads-subject {
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
    padding: 15px;
  }



  /* ****************************************** LOWER-INFO */
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    margin: 80px auto 50px 100px;
  }

  .projects-header {
    padding: 0;
    margin: auto;
    font-size: 1.68rem;
    text-transform: uppercase;
  }

  .projects-found {
    padding: 0;
    margin: 15px 0 auto 0;
    font-size: 0.8rem;
    text-align: left;
  }

  .project-title {
    margin: 100px auto -15px auto;
    font-size: 1.25rem;
    text-align: center;
  }

  .project-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 50px
  }

  .project-thumbs img {
    width: 30%;
  }

  .thumbs-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .thumb-nav-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #3a3a3a;
    margin: 10px 2.5px
  }

  .thumb-nav-item.active {
    border: none;
    background: #339900;
    width: 10px;
    height: 10px;
    margin: 9.275px 2.5px
  }

  .descript-container {
    margin: auto
  }

  .proj-descript-title {
    font-size: 1.75rem;
    margin: auto 0 auto 100px;
    text-align: left;
  }

  .proj-descript {
    font-size: 1rem;
    margin: 20px auto 20px 100px;
    padding: 10px;
    text-align: left;
    width: 600px
  }

  /* ****************************************** FOOTER */
  footer {
    background: #fefefe;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: #fefefe;
    max-width: 90%;
    min-width: 60%;
    margin: 0 auto
  }

  .foot-brand-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .foot-brand-img {
    width: 32px;
    height: 32px
  }

  .foot-brand {
    color: #339900;
    font-size: 1.25rem;
    margin: 20px 10px;
  }

  .foot-brand-info {
    color: #3a3a3a;
    font-size: 0.8rem;
  }

  .foot-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
  }

  .icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #ffffff;
  }

  .icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
  }

  .icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #fefefe;
    color: #3a3a3a;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .icon.social:hover {
    background: #fefefe;
    color: #339900;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
  }

  .icon.social.fb i {
    left: 13px;
    top: 10px;
  }

  .icon.social.tw i {
    left: 11px;
  }

  .icon.social.in i {
    left: 11px;
  }

  .foot-nav {
    width: 60%;
    margin: 20px 0
  }

  .foot-support {
    width: 60%;
    margin: 20px 10px 20px 0
  }

  ul.pages li a {
    color: #3a3a3a;
    font-size: 0.78rem;
  }

  ul.pages li a:hover {
    color: #339900;
    text-decoration: none;
  }

  .foot-donation {
    width: 100%
  }

  .foot-donate-info {
    color: #3a3a3a;
    font-size: 0.85rem;
    margin: 20px 0px 20px 20px
  }

  footer .foot-donate {
    font-size: 1rem;
    color: #339900;
    text-transform: uppercase;
    width: 90px;
    height: 40px;
    line-height: 1.5rem;
    border: 1px solid;
    padding: 5px;
    margin: auto 20px
  }

  .foot-donate:hover {
    text-decoration: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DESKTOP ~~~~~~~~~~~~~*/
@media (min-width: 769px) {

  /* ****************************************** NAVIGATION */
  .refine-mobile,
  .navbar-mobile {
    display: none;
  }

  .refine-desktop,
  .navbar-desktop {
    display: block;
  }

  .nav-lg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 40px;
    background: #fefefe;
  }

  .page-nav-spacer {
    width: 1px;
    height: 40px;
    background: rgba(0, 0, 0, 0.1);
  }

  .page-nav {
    margin: auto;
    width: 100%;
  }

  .page-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 0 0 0 150px;
  }

  .user-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 0 150px 0 0;
  }

  .user-nav {
    font-size: 1rem;
  }

  .nav-item .nav-link.nav-stu,
  .nav-item .nav-link.nav-edu,
  .nav-item .nav-link.nav-about-us,
  .nav-item .nav-link.login,
  .nav-item .nav-link.profile {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .nav-item .nav-link.nav-stu {
    cursor: default;
    color: #999999;
  }

  .nav-link {
    font-family: "Lato", sans-serif;
    font-weight: regular;
    color: #999999;
    height: 40px;
    z-index: 100;
  }

  .user-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-left: 50px
  }

  .user-img {
    width: 28px;
    height: 28px;
    margin: 5px 5px auto 20px
  }

  .profile {
    color: #3a3a3a;
    padding: 10px
  }

  .nav-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background: #fefefe;
    z-index: -1;
  }

  .nav-brand {
    color: #339900;
    margin-left: 190px;
    font-size: 1.68rem;
  }

  .user-tabs-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 150px;
    padding: 10px;
  }

  .nav-item .nav-link.search,
  .nav-item .nav-link.donate {
    padding-right: 30px;
    font-family: "Lato", sans-serif;
    font-weight: regular;
    color: #ccc;
    font-size: 1rem;
  }

  .nav-item .nav-link.donate {
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
    color: #339900;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border: #339900 solid 1px;
    text-decoration: none;
    text-transform: uppercase;
    height: 35px
  }

  .nav-search-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
  }

  .iconify.go-to-search {
    margin: 10px 0 0 0;
    color: #999999;
  }

  a:hover {
    color: #3a3a3a;
  }

  .navbar-brand:hover {
    color: #339900;
  }

  .nav-lg .active {
    color: #339900 !important;
    border-bottom: 2px solid #339900;
  }

  /* ****************************************** HERO */
  .heads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bgimage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 460px;
    background: url("../images/interactive.jpg");
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
  }

  .over-img {
    display: none
  }

  .heads-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #ccc;
    width: 100%;
    margin: auto;
  }


  .heads-level,
  .heads-subject {
    font-size: 1.25rem;
    margin: auto 0 auto 50px;
    text-align: center;
    padding: 15px;
  }



  /* ****************************************** LOWER-INFO */
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
    margin: 80px auto 50px 100px;
  }

  .projects-header {
    padding: 0;
    margin: auto;
    font-size: 1.68rem;
    text-transform: uppercase;
  }

  .projects-found {
    padding: 0;
    margin: 15px 0 auto 0;
    font-size: 0.8rem;
    text-align: left;
  }

  .project-title {
    margin: 100px auto -15px auto;
    font-size: 1.25rem;
    text-align: center;
  }

  .project-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 50px
  }

  .project-thumbs img {
    width: 30%;
  }

  .thumbs-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .thumb-nav-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #3a3a3a;
    margin: 10px 2.5px
  }

  .thumb-nav-item.active {
    border: none;
    background: #339900;
    width: 10px;
    height: 10px;
    margin: 9.275px 2.5px
  }

  .descript-container {
    width: 800px;
    height: 400px;
    margin: 25px auto
  }

  .proj-descript-title {
    font-size: 2.5rem;
    margin: 20px auto;
    text-align: left;
  }

  .descript-sub {
    font-size: 1.75rem;
    margin: 50px auto 10px auto;
    text-align: left;
  }

  .proj-descript {
    font-size: 1.35rem;
    margin: 10px auto 0 auto;
    text-align: left;
    width: 800px
  }

  /* ****************************************** FOOTER */
  footer {
    background: #fefefe;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    width: 100vw
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: #fefefe;
    max-width: 60%;
    min-width: 50%;
    margin: auto
  }

  .foot-brand-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .foot-brand-img {
    width: 48px;
    height: 48px
  }

  .foot-brand {
    color: #339900;
    font-size: 1.5rem;
    margin: 20px;
  }

  .foot-brand-info {
    color: #3a3a3a;
    font-size: 1rem;
  }

  .foot-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
  }

  .icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #ffffff;
  }

  .icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
  }

  .icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #fefefe;
    color: #3a3a3a;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .icon.social:hover {
    background: #fefefe;
    color: #339900;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
  }

  .icon.social.fb i {
    left: 13px;
    top: 10px;
  }

  .icon.social.tw i {
    left: 11px;
  }

  .icon.social.in i {
    left: 11px;
  }

  .foot-nav {
    width: 80%;
    margin: 20px
  }

  .foot-support {
    width: 80%;
    margin: 20px
  }

  ul.pages li a {
    color: #3a3a3a;
    font-size: 0.9rem;
  }

  ul.pages li a:hover {
    color: #339900;
    text-decoration: none;
  }

  .foot-donation {
    width: 100%;
  }

  .foot-donate-info {
    color: #3a3a3a;
    font-size: 1rem;
    margin: 20px
  }

  footer .foot-donate {
    font-size: 1rem;
    color: #339900;
    text-transform: uppercase;
    width: 90px;
    height: 40px;
    line-height: 1.5rem;
    border: 1px solid;
    padding: 5px;
    margin: auto 20px
  }

  .foot-donate:hover {
    text-decoration: none;
  }
}